button,
.button-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 18px;
  font-size: 1.2rem;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background: transparent;
  border: none;
  border-radius: 8px;
  transition:
    background 0.2s ease,
    border-color 0.2s ease,
    transform 0.1s ease,
    padding 0.5s ease,
    opacity 0.5s ease;
  -webkit-tap-highlight-color: transparent;
  &:disabled {
    pointer-events: none;
  }
}
.button-link {
  color: var(--color-text);
  text-decoration: none;
}
.button-link--disabled {
  color: var(--color-text-muted);
  pointer-events: none;
  cursor: default;
}
.button-primary {
  color: oklch(100% 0 0deg);
  background-color: var(--color-primary);
  &:hover {
    background-color: var(--color-primary-hover);
  }
  &:active {
    background-color: var(--color-primary-active);
  }
  &:disabled {
    background-color: var(--color-primary-disabled);
  }
}
.button-accent {
  color: oklch(21.01% 0.0318 264.66deg);
  background-color: var(--color-accent);
  &:hover {
    background-color: var(--color-accent);
  }
  &:active {
    background-color: var(--color-accent-active);
  }
  &:disabled {
    background-color: var(--color-accent-disabled);
  }
}
.button-secondary {
  color: var(--color-text);
  background: transparent;
  border: 1px solid var(--color-border);
  &:hover {
    background: var(--color-surface-background);
    border-color: var(--color-text);
  }
}
.button-success {
  color: oklch(100% 0 0deg);
  background: var(--color-success);
  &:hover {
    background: var(--color-success-hover);
  }
  &:active {
    background-color: var(--color-success-active);
  }
  &:disabled {
    background-color: var(--color-success-disabled);
  }
}
.button-warning {
  color: oklch(100% 0 0deg);
  background: var(--color-warning);
  &:hover {
    background: var(--warning-hover);
  }
  &:active {
    background-color: var(--color-warning-active);
  }
  &:disabled {
    background-color: var(--color-warning-disabled);
  }
}
.button-error {
  color: oklch(100% 0 0deg);
  background: var(--color-error);
  &:hover {
    background: var(--color-error-hover);
  }
  &:active {
    background-color: var(--color-danger-active);
  }
  &:disabled {
    background-color: var(--color-danger-disabled);
  }
}
.button-ghost {
  color: var(--color-text);
  background: transparent;
  &:hover {
    background: oklch(0% 0 0deg / 5%);
  }
}
.icon-button {
  padding: 0;
}
.icon-button--medium {
  width: var(--icon-button-medium-size);
  height: var(--icon-button-medium-size);
  svg {
    width: calc(var(--icon-button-medium-size) - 1rem);
    height: calc(var(--icon-button-medium-size) - 1rem);
  }
}
.icon-button--large {
  width: var(--icon-button-large-size);
  height: var(--icon-button-large-size);
  svg {
    width: calc(var(--icon-button-large-size) - 1rem);
    height: calc(var(--icon-button-large-size) - 1rem);
  }
}
