@import url('@maptiler/sdk/dist/maptiler-sdk.css');
.maplibregl-canvas {
  outline: none;
}
.maplibregl-ctrl.maplibregl-ctrl-attrib,
.maplibregl-ctrl-top-right {
  font-size: 0.5rem;
  background-color: transparent;
  opacity: 0.5;
  a {
    color: var(--color-text);
  }
}
