*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;

  /* Primary */
  --color-primary: oklch(54.61% 0.2152 262.88deg);
  --color-primary-hover: oklch(48.82% 0.2172 264.38deg);
  --color-primary-active: oklch(41.4% 0.219 265.2deg);
  --color-primary-disabled: oklch(76% 0.09 263deg);

  /* Accent */
  --color-accent: oklch(86.52% 0.1768 90.38deg);
  --color-accent-hover: oklch(80.0782% 0.1637 90.5157deg);
  --color-accent-active: oklch(73.2% 0.1496 90.57deg);
  --color-accent-disabled: oklch(92.43% 0.1151 95.75deg);

  /* Success */
  --color-success: oklch(72.27% 0.192 149.58deg);
  --color-success-hover: oklch(64.5% 0.188 149.6deg);
  --color-success-active: oklch(56.5% 0.184 149.6deg);

  /* Warning */
  --color-warning: oklch(76.86% 0.1647 70.08deg);
  --color-warning-hover: oklch(68.5% 0.162 70deg);
  --color-warning-active: oklch(60.5% 0.158 70deg);

  /* Error */
  --color-error: oklch(63.68% 0.2078 25.33deg);
  --color-error-hover: oklch(57.71% 0.2152 27.33deg);
  --color-error-active: oklch(51.5% 0.216 27.3deg);
  @media (prefers-color-scheme: light) {
    /* Typography */
    --color-text: oklch(21.01% 0.0318 264.66deg);
    --color-text-secondary: oklch(37.29% 0.0306 259.73deg);
    --color-text-muted: oklch(55.1% 0.0234 264.36deg);

    /* Backgrounds */
    --color-background: oklch(97.83% 0.004 106.47deg);
    --color-surface-background: oklch(100% 0 0deg);
    --color-surface-background-secondary: oklch(96.7% 0.0029 264.54deg);
    --color-border: oklch(92.76% 0.0058 264.53deg);
  }
  @media (prefers-color-scheme: dark) {
    /* Typography */
    --color-text: oklch(100% 0.0001 271.152deg);
    --color-text-secondary: oklch(87.17% 0.0093 258.34deg);
    --color-text-muted: oklch(71.37% 0.0192 261.32deg);

    /* Backgrounds */
    --color-background: oklch(17.73% 0.0089 264.32deg);
    --color-surface-background: oklch(22.5% 0.0132 258.37deg);
    --color-surface-background-secondary: oklch(27.95% 0.0204 260.61deg);
    --color-border: oklch(33.44% 0.0239 258.36deg);
  }

  --duration-long: 3s;
  --icon-button-medium-size: 3rem;
  --icon-button-large-size: 4rem;
  --navigation-header-padding-top: 32px;
  --navigation-header-height: var(--icon-button-large-size);
  --header-horizontal-rule-margin-block: 0.5rem;
  --header-horizontal-rule-border-width: 1px;
  --header-height: calc(
    var(--navigation-header-padding-top) + var(--navigation-header-height) +
      calc(var(--header-horizontal-rule-margin-block) * 2) + calc(var(--header-horizontal-rule-border-width) * 2)
  );
  --navbar-height: 4rem;
  --navbar-position-bottom: 64px;
  --content-padding-inline: 1rem;
}
html {
  height: 100dvh;
  color: var(--color-text);
  accent-color: var(--color-accent);
  background-color: var(--color-background);
}
body {
  height: 100%;
  margin: 0;
  font-family: Inter, sans-serif;
  font-size: 1.25rem;
}
#app {
  height: 100%;
}
main {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: calc(100% - var(--navbar-height) - var(--navbar-position-bottom));
  padding-top: var(--navigation-header-padding-top);
  overflow: hidden;
  &.hide-top-padding {
    padding-top: 0;
  }
  > section {
    flex: 1;
    overflow: auto;
  }
}
a {
  color: currentcolor;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.color-success {
  color: var(--color-success);
}
.color-error {
  color: var(--color-error);
}
.color-accent {
  color: var(--color-accent);
}
.color-secondary {
  color: var(--color-text-secondary);
}
.tabular-num {
  font-weight: 700;
  font-variant-numeric: tabular-nums;
}
